.info {
  padding: 0%;
}

.fname {
  padding: 0;
  /* padding-top: 40px; */
  color: black;
  font-size: 40px;
  text-align: center;
}

.carousel {
  height: 280;
}

.imgDesc{
  font-size: 25;
  text-align: center;
  width: 200;
}


.btn-sales {
  height: 250px;
  color: rgb(11, 83, 112);
  background-color: rgb(103, 240, 85);
}

.name {
  color: rgb(36, 36, 168);
  font-size: 30px;
}


.value {
  color: green;
  font-size: 25px;
}

.qty {
  font-size: 18px;
}

.desc {
  font-size: 18px;
}

.date {
  font-size: 15px;
}

#slide1 {
  background: linear-gradient(45deg, #eb3349, #f45c43);
  vertical-align: center;
}

#slide2 {
  background: linear-gradient(-45deg, #1d976c, #93f9b9);
  vertical-align: center;
}

#slide3 {
  background: linear-gradient(45deg, #1d2b64, #f8cdda);
  vertical-align: center;
}

#slide4 {
  background: linear-gradient(tobottom, #003973, #e5e5be);
  vertical-align: center;
}

#addCart {
  font-size: 20px;
  padding: 15 0 15 0;
  height: 55;
  width: 550;
  background-color: #265e4a;
  color: white;
}

#modify {
  font-size: 20px;
  padding: 15 0 15 0;
  height: 55;
  width: 550;
  background-color: #2f5c6e;
  color: white;
}