.title {
  padding-top: 15;
}

.space {
  margin: 15 0 10 0;
}

.picker {
  width: 300;
  height: 80;
  vertical-align: middle;
  font-size: 40;
}

.page-title {
  color: blue;
  padding: 5 0 5 0;
  text-align: center;
  font-size: 25;
}

.title-card {
  padding: 0 0 0 0;
}

.addCart {
  font-size: 18px;
  height: 50;
  width: 550;
  background-color: #265e4a;
  color: white;
}

.load {
  font-size: 18px;
  height: 50;
  width: 550;
  background-color: #2f5c6e;
  color: white;
}

.delete {
  font-size: 18px;
  height: 50;
  width: 550;
  background-color: #810c12;
  color: white;
}
